Repository sionelt/pga-leaderboard: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

clean up default App file
  src/App.js
  src/logo.svg
Due: eslint --fix, prettier --write

Added material-ui for fast UI prototype
  package.json
  yarn.lock
Due: prettier --write

set the base structure of app for scaling
  src/App.css
  src/App.js
  src/index.js
Due: eslint --fix, prettier --write

implemented a responsive leaderboard table
  src/components/AppBar.jsx
  src/components/AppContent.jsx
  src/components/LeaderBoard.jsx
Due: eslint --fix, prettier --write

implement button to add new player
  package.json
  src/components/AppContent.jsx
  src/components/LeaderBoard.jsx
  yarn.lock
Due: eslint --fix, prettier --write

Implemented form for adding/update players
  src/components/DialogForm.jsx
Due: eslint --fix, prettier --write

update leaderbox with events handlers
  src/components/LeaderBoard.jsx
Due: eslint --fix, prettier --write

add events handlers for managing states
  src/components/AppContent.jsx
Due: eslint --fix, prettier --write

add utils for sorting and validating fields
  src/utils/sortPlayers.js
  src/utils/validateFields.js
Due: eslint --fix, prettier --write

add validatorjs for field validation
  package.json
  yarn.lock
Due: prettier --write

update static tests
  .prettierrc.json
  src/App.js
Due: eslint --fix, prettier --write

add unit tests for utils
  src/App.test.js
  src/__tests__/App.test.js
  src/__tests__/utils/sortPlayers.test.js
  src/__tests__/utils/validateFields.test.js
Due: eslint --fix, prettier --write

set responsive width and height for leaderboard
  src/components/LeaderBoard.jsx
Due: eslint --fix, prettier --write

init firebase sdk
  package.json
  src/firebase.js
  yarn.lock
Due: eslint --fix, prettier --write

config firebase database and cli for deploy
  .firebaserc
  database.rules.json
  firebase.json
Due: prettier --write

script for firebase deploy
  package.json
Due: prettier --write

update head title
  public/index.html
Due: none

secure firebase config secrets in env
  .gitignore
  package.json
  src/firebase.js
Due: eslint --fix, prettier --write

fix firebase deploy error
  .gitignore
  firebase.json
Due: prettier --write

fetch and update players to firebase realtime db
  package.json
  src/__tests__/App.test.js
  src/components/AppContent.jsx
  src/firebase.js
Due: eslint --fix, prettier --write

Add loader when fetching data
  src/components/AppContent.jsx
  src/components/DialogForm.jsx
  src/components/LeaderBoard.jsx
Due: eslint --fix, prettier --write

update README
  README.md
Due: prettier --write

add demo links
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

add fields focus event handler
  src/components/DialogForm.jsx
Due: eslint --fix, prettier --write

update ajax state when removing a player
  src/components/AppContent.jsx
Due: eslint --fix, prettier --write

generalized leaderboard
  src/components/AppBar.jsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{js,jsx,json,css,graphql,yml,yaml,md}
